.reset-password-container {
    width: 60%;
    margin: auto;
}

.reset-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(97, 26, 26);
    color: white;
}