
<div class="preferences-container">
    <mat-drawer-container class="sidenav-container">
        <mat-drawer #sidenav [mode]="mode" [opened]="openSidenav" class="menu">
            <h3>Disciplines
                <button *ngIf="!openSidenav" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>
                        arrow_left
                    </mat-icon>
                </button>
            </h3>
            <div *ngIf="userDisciplines?.length > 0; else noDisciplines" class="disciplines-menu">
                <div *ngFor="let discipline of userDisciplines" class="discipline-item">
                    <a mat-button class="tab-item" [routerLink]="['view/discipline', discipline._id]" routerLinkActive="active" (click)="sidenav.toggle()">
                        {{ discipline.name }}
                    </a>
                </div>
            </div>
            <ng-template #noDisciplines>
                <p>No disciplines yet</p>
            </ng-template>
        </mat-drawer>
        <mat-drawer-content>
            <div class="menu-button">
                <button mat-icon-button (click)="sidenav.toggle()" class="mobile-menu">
                    <mat-icon>
                        double_arrow
                    </mat-icon>
                </button>
            </div>
            
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>

</div>
