.preferences-container {
    width: 100%;
    margin: auto;
}

.sidenav-container {
    height: calc(100vh - 64px);
    
    .menu {
        background: rgb(97, 26, 26);
        color: white;
        // width: 10em;

        .disciplines-menu {
            display: flex;
            flex-direction: column;

            .discipline-item :focus {
                background: rgba(187, 166, 166, 0.623);
            }
            .tab-item {
                width: 100%;
            }
        }
    }
}

.mobile-menu {
    display: none;
}

@media screen and(max-width: 960px) {
    .mobile-menu {
        display: block;
    }
}

.active {
    background: rgba(97, 63, 63, 0.856);
  }

.actions-container {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .tabs{
        background: rgb(97, 26, 26);
        color: white;

        .disciplines-menu {
            display: flex;
            flex-direction: column;

            .discipline-item :focus {
                background: rgba(187, 166, 166, 0.623);
            }
            .tab-item {
                width: 100%;
            }
        }
    }
}