
<div class="preferences-container">
    <mat-drawer-container class="sidenav-container">
        <mat-drawer #sidenav [mode]="mode" [opened]="openSidenav" class="menu">
            <h3>List of your disciplines
                <button *ngIf="!openSidenav" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>
                        arrow_left
                    </mat-icon>
                </button>
            </h3>
            <div *ngIf="userDisciplines?.length > 0; else noDisciplines" class="disciplines-menu">
                <div *ngFor="let discipline of userDisciplines" class="discipline-item">
                    <a mat-button class="tab-item" [routerLink]="['view/discipline', discipline._id]" routerLinkActive="active">
                        {{ discipline.name }}
                    </a>
                </div>
            </div>
            <ng-template #noDisciplines>
                <p>No disciplines yet</p>
            </ng-template>
        </mat-drawer>
        <mat-drawer-content>
            <button mat-icon-button (click)="sidenav.toggle()" class="mobile-menu">
                <mat-icon>arrow_right</mat-icon>
            </button>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
    
    <!-- <div class="actions-container">
        <mat-list class="tabs">
            <h3>List of your disciplines</h3>
            <div *ngIf="userDisciplines?.length > 0; else noDisciplines" class="disciplines-menu">
                <div *ngFor="let discipline of userDisciplines" class="discipline-item">
                    <button mat-button class="tab-item" (click)="selectDiscipline(discipline)">{{ discipline.name }}</button>
                </div>
            </div>
            <ng-template #noDisciplines>
                <p>No disciplines yet</p>
            </ng-template>
        </mat-list>
        <div *ngIf="tabOption">
            <app-discipline-preferences [discipline]="tabOption" (updateDetails)="updateDiscipline()"></app-discipline-preferences>
        </div>
    </div> -->

</div>
