<header class="title-container">
    <div class="title-wrapper">
        <div class="heading-wrapper">
            <h1>{{discipline?.name}}</h1>
            <h3>Teacher: <i>{{discipline?.teacher}}</i></h3>
        </div>
    </div>
</header>

<div class="discipline-details">
    <div class="details">
        <div class="card-wrapper" *ngFor="let timetable of discipline?.timetable">
            <app-students-card [timetable]="timetable" [discipline]="discipline" [users]="users"></app-students-card>
        </div>
    </div>
</div>