.discipline-details {
    width: 80%;
    margin: auto;
}

.name {
    margin-top: 40px;
    background-color: rgba(97, 26, 26);
    width: 100%;
    color: white;
    box-shadow: 0 0px 20px black;

    h2 {
        padding-left: 30px;
    }
}

.details {
    background-color: white;
}