@import '../../styles/colors';

.discipline-details {
    width: 80%;
    margin: auto;
}

.name {
    background-color: aquamarine;
    width: 100%;

    h2, h4 {
        margin-top: 0;
    }
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 2em;
    row-gap: 2em;

    .discipline-card {
        padding: 0;

        .header-container {
            background: $color-4;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        
        .content {
            padding: 10px 12px;
            margin: 0;
        }
        
        .footer-actions {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
        }
    }  
}