.toolbar {
  background: rgb(97, 26, 26);
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.app-name {
  font-size: 150%;
  color: white;
}

.mat-toolbar{
  position: relative;
  height: 64px;
  z-index: 2;
  box-shadow: 0 0px 20px black;
}

.active {
  background: rgba(97, 63, 63, 0.856);
}

.bank {
  height: 100%; 
}

.menu-items {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;

  .menu-item {
      height: inherit;
      color: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}

.menu-button {
  background: inherit;
  border: none;
  color: white;
  display: flex;
}

.mat-button {
  border-radius: 0;
}

.menu-item:hover {
  background-color: rgb(97, 63, 63);
}

.mat-sidenav-container {
  // background-color: lightskyblue;
  min-height: 93vh !important;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.mobile-menu {
  display: none;
  color: white;
}

a {
    text-decoration: none;
    white-space: normal;
}

button {
    font-size: 110%;
    min-width: min-content;
}

@media screen and (max-width: 960px) {
  .mobile-menu {
    display: block;
  }

  .bank {
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}