<div class="disciplines-container">
    <header class="title-container">
        <div class="title-wrapper">
            <div class="heading-wrapper">
                <h1>Disciplines</h1>
            </div>
        </div>
    </header>

    <!--POC: or i can use cards -->
    <!-- <div class="actions-container">
        <mat-list class="tabs">
            <h3>List of disciplines</h3>
            <div *ngIf="disciplines.length > 0; else noDisciplines">
                <div *ngFor="let discipline of disciplines">
                    {{ discipline.name }}
                </div>
            </div>
            <ng-template #noDisciplines>
                <p>No disciplines yet</p>
            </ng-template>
        </mat-list>
    </div> -->

    <div class="disciplines-tab">
        <div *ngIf="userDisciplines?.length > 0; else noDisciplines" class="disciplines-table">
            <div class="table-add-button">
                <button mat-button (click)="openDialog()">
                    <mat-icon>add_circle</mat-icon>Add discipline
                </button>
            </div>

            <div class="cards-container">
                <div *ngFor="let discipline of userDisciplines">
                    <mat-card class="discipline-card">
                        <div class="header-container">
                            <a (click)="navigateToDiscipline(discipline)">
                                <div class="content">
                                    <mat-card-title>{{ discipline.name }}</mat-card-title>
                                    <mat-card-subtitle>Teacher: {{ discipline.teacher }}</mat-card-subtitle>
                                </div>
                            </a>
                        </div>
                        <mat-card-content class="content">
                            <p>{{ discipline.faculty }}</p>
                            <p>{{ discipline.department }}</p>
                        </mat-card-content>
                        <mat-card-actions class="footer-actions">
                            <button color="error" (click)="unenrollUser(discipline._id, $event)" mat-button>Delete</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div>

            <ng-template #noDisciplines>
                <div class="no-discipline">
                    <button mat-button (click)="openDialog()">
                        <span class="add-button">
                            <mat-icon class="add-icon">library_add</mat-icon>
                            Add discipline
                        </span>
                    </button>
                    You've not selected any discipline
                </div>
            </ng-template>

        </div>