<div class="disciplines-container">
    <header class="title-container">
        <h1>Disciplines</h1>
    </header>

    <div class="actions-container">
        <mat-list class="tabs">
            <h3>List of disciplines</h3>
            <div *ngIf="disciplines.length > 0; else noDisciplines">
                <div *ngFor="let discipline of disciplines">
                    {{ discipline.name }}
                </div>
            </div>
            <ng-template #noDisciplines>
                <p>No disciplines yet</p>
            </ng-template>
            
        </mat-list>

        <section class="template-container">
            <button mat-button (click)="openDialog()">Add discipline</button>
        </section> 
    </div>

</div>
