$primary-blue: #012A36;
$blue-button: #094050;
$blue: #1a5667;
$blue-button-pressed: #2d697a;
$light-blue: #4d8493;

$secondary-yellow: #a67f26;
$secondary-intermediate: #c49e44;
$light-yellow: #ecca78;

$secondary-red: #560c00;
$secondary: #a63726;
$secondary-red-accent: #c45644;
$light-red: #ec8878;


$color-1:	#5375e2;	
$color-2:	#7791a1;	
$color-3:	#f65868;	
$color-4:	#f3aa92;	
$color-5:	#5c616e;	
$color-6:	#fefefe;