@import '../../styles/colors';

.delete-account-container {

    .mat-icon {
        font-size: 100px;
        height: 100px ;
        width: 100px;
        color: rgba(0, 0, 0, 0.7);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    .delete-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $color-3;
        color: white;
    }
}

@media screen and (max-width: 960px) {
    .delete-account-container {
        padding-top: 3em;
    }
}