.delete-account-container {

    .mat-icon {
        font-size: 100px;
        height: 100px ;
        width: 100px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    .delete-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(97, 26, 26);
        color: white;
    }
}