.discipline-details {
    width: 80%;
    margin: auto;
}

.name {
    margin-top: 40px;
    background-color: rgba(97, 26, 26);
    width: 100%;
    color: white;
    box-shadow: 0 0px 20px black;

    h2 {
        padding-left: 30px;
    }
}

.details {
    background-color: white;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;

    .submit-button {
        width: 50%;
    }
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;

    .basic-details {
        display: flex;
        flex-direction: column;
    }

    .dynamic-details {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    .form-group {
        display: flex;
        flex-direction: column;
    }
}