<div class="profile-container">
    <header class="username-container">
        <h1>Profile details</h1>
    </header>
{{user | json}}
    <div class="details-container">
        <mat-list class="tabs">
            <button mat-button class="tab-item" (click)="tabOption = 1">Details</button>
            <button mat-button class="tab-item" (click)="tabOption = 2">Reset password</button>
            <button mat-button class="tab-item" (click)="tabOption = 3">Delete account</button>
        </mat-list>

        <section class="template-container">
            <ng-container [ngSwitch]="tabOption">
                <div class="data-container">
                    <app-profile-details *ngSwitchCase="1"></app-profile-details>
                    <app-reset-password *ngSwitchCase="2"></app-reset-password>
                    <app-delete-user *ngSwitchCase="3"></app-delete-user>
                </div>
            </ng-container>
        </section>
    </div>

    <!-- this will be used for mobile view -->
    <mat-tab-group mat-align-tabs="center" class="details-tabs">
        <mat-tab label="Details">
            <app-profile-details></app-profile-details>
        </mat-tab>
        <mat-tab label="Reset password">
            <app-reset-password></app-reset-password>
        </mat-tab>
        <mat-tab label="Delete account">
            <app-delete-user></app-delete-user>
        </mat-tab>
    </mat-tab-group>

</div>
