.profile-container {
    width: 80%;
    margin: auto;
}

.username-container {
    margin-top: 60px;
    background-color: rgba(97, 26, 26);
    width: 100%;
    color: white;
    border-radius: 5px;

    h1 {
        padding-left: 20px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 50px;

    .tabs {
        display: flex;
        flex-direction: column;
        background-color: rgba(97, 26, 26);
        padding: 0;
        border-radius: 5px;

        .tab-item {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
            color: white;
        }
    }

    .data-container {
        width: 80%;
        margin: auto;
    }
}

.details-tabs {
    display: none;
}

@media screen and (max-width: 960px) {
    .details-container {
        display: none;
    }
    
    .details-tabs {
        display: block;
    }
}

.mat-tab-labels {
    display: flex;
    justify-content: space-evenly;
}