<div class="profile-container">
    <div class="profile">
        <div class="tab-left">
            <div class="tab-header">
                <div class="initials-circle">
                    <span class="initials">
                        {{ user?.firstName[0] }}{{ user?.lastName[0] }}
                    </span>
                </div>
                <h2>{{user?.firstName}} {{user?.lastName}}</h2>
                <h3>Study year: {{ user?.studyYear }}</h3>
            </div>
            <div class="details-container">
                <mat-list class="tabs">
                    <button mat-button class="tab-item" (click)="tabOption = 1">Details</button>
                    <button mat-button class="tab-item" (click)="tabOption = 2">Reset password</button>
                    <button mat-button class="tab-item" (click)="tabOption = 3">Delete account</button>
                </mat-list>
            </div>
        </div>
        <section *ngIf="user" class="template-container">
            <ng-container [ngSwitch]="tabOption">
                <div class="data-container">
                    <app-profile-details 
                        (updateDetails)="updateUser()" 
                        [userDetails]="user" 
                        [institutionsData]="institutions"
                        *ngSwitchCase="1"></app-profile-details>
                    <app-reset-password *ngSwitchCase="2"></app-reset-password>
                    <app-delete-user *ngSwitchCase="3"></app-delete-user>
                </div>
            </ng-container>
        </section>
    </div>

    <!-- this will be used for mobile view -->
    <div class="details-tabs">
        <div class="tab-header">
            <div class="initials-circle">
                <span class="initials">
                    {{ user?.firstName[0] }}{{ user?.lastName[0] }}
                </span>
            </div>
            <h2>{{user?.firstName}} {{user?.lastName}}</h2>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Details">
                <app-profile-details [userDetails]="user"></app-profile-details>
            </mat-tab>
            <mat-tab label="Reset password">
                <app-reset-password></app-reset-password>
            </mat-tab>
            <mat-tab label="Delete account">
                <app-delete-user></app-delete-user>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
