@import '../../styles/colors';

.profile-container {
    width: 80%;
    margin: auto;
}

.profile {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 50px;

    .tab-left {
        display: flex;
        flex-direction: column;
    }

    .tabs {
        height: calc(100vh - 356px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #3c6f7e;
        padding: 0;
        border-radius: 5px;

        .tab-item {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
            color: white;
        }
    }    

    .template-container {
        display: flex;
    }

    .data-container {
        width: 80%;
        margin: auto;
    }
}


.tab-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    --avatar-size: 8rem;
    margin-bottom: 20px;

    height: inherit;
    width: 100%;
    background-image: url('../../assets/ppperspective.svg');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 

    .initials-circle {
        background-color: #ccc;
        background-image: url('../../assets/rrrainbow.svg');
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat; 

        border-radius: 50%;
        height: var(--avatar-size);
        text-align: center;
        width: var(--avatar-size);

        .initials {
            font-size: calc(var(--avatar-size) / 2); 
            line-height: 1;
            position: relative;
            top: calc(var(--avatar-size) / 4);
        }
    }
}

.details-tabs {
    display: none;
}

@media screen and (max-width: 960px) {
    .profile {
        display: none;
    }
    
    .details-tabs {
        display: block;
        margin-top: 50px;
    }
}

.mat-tab-labels {
    display: flex;
    justify-content: space-evenly;
}