<div class="reset-password-container">
    <header>
        <div class="title-header">
            <p>Please write an email where you want to receive a new password</p>
        </div>
    </header>
    <form [formGroup]="passwordForm">
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="Your email" formControlName="email">
                <button mat-icon-button matSuffix [disabled]="true">
                    <mat-icon>alternate_email</mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>

        </div>
    </form>
    <button class="register-button" mat-raised-button (click)="submit()" [disabled]="passwordForm.invalid">Send email</button>
</div>


