@import '../../styles/colors';

.no-discipline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discipline-preferences {
    max-height: 600px;
    display: flex;
    flex-direction: column;
}

.discipline-card {
    padding: 0 !important;

    .header-container {
        background: $color-4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    .content {
        padding: 10px 12px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    justify-items: end;
}

.tooltip-actions {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    
}

.tooltip {
    width: 80%;
    margin: auto;
    color: rgba(0, 0, 0, 0.6);
}

.center {
    display: flex;
    justify-content: center;
}

.action-buttons {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

table {
    border-collapse: separate;
    border-spacing: 0.75em;
    text-align: left;

    .occupancy-cell {
        text-align: center;
    }
}

.green { 
    .mat-progress-bar-fill::after {
        background-color: green;
    }
}

.orange { 
    .mat-progress-bar-fill::after {
        background-color: orange;
    }
}

.red { 
    .mat-progress-bar-fill::after {
        background-color: red;
    }
}

@media screen and (max-width: 960px) {
    .discipline-preferences {
        margin-top: 100px;
    }
    
    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-pannel {
        padding-top: 20px;
    }
}