<div class="discipline-preferences">
  <form [formGroup]="preferencesForm">
    <div class="form-group" formArrayName="options" *ngFor="let preference of dynamicOptions.controls; let i=index">
      <div [formGroup]="preference">
        <mat-form-field appearance="outline">
          <mat-label>Option {{i + 1}}</mat-label>
          <mat-select formControlName="option">
            <mat-option *ngFor="let selectedPreference of discipline.timetable" [value]="selectedPreference.option">
              {{ selectedPreference.option }}
            </mat-option>
          </mat-select>    
            <mat-error *ngIf="preference.controls.option.invalid">Please complete option</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <button class="submit-button" mat-raised-button (click)="submit()" [disabled]="preferencesForm.invalid">SAVE</button>
  <!-- TODO: add a button to send discipline preferences -->
</div>
